---
layout: page
title: "关于"
description: "I am FishYan, Just Do Myself"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector 
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>
-->
<!-- Chinese Version -->
<style>
    .origin{
        color: #FD9827;
        font-size: 25px;
        text-decoration: blink;
    }
</style>

<div class="zh post-container">
    <blockquote>
        世界上很多事不是你能做什么，而是你该做什么。
        <p style="text-align:right;">
        <a> —— 马云</a>
    </p>
    </blockquote>
    <p style="font-size: 35px; text-align: center;">
        嗨，我是薛焱，博客名FishYan
    </p>
    <p style="font-size: 25px; text-align: center;">
        是一名职业 iOS 开发者
    </p>
    <p style="font-size: 15px; text-align: center;">
        目前就职于<a href="http://www.cjm168.com/" style="color:#4271AE; font-size: 30px;">重庆车杰盟科技有限公司（CPAU）</a>
    </p>
    <p style="font-size: 15px; text-align: center;">
        是公司核心APP<a href="https://itunes.apple.com/cn/app/超级车赢家/id1154450676?mt=8" style="color:#4271AE; font-size: 30px;">《超级车赢家》</a>的项目负责人
    </p>
    <p style="font-size: 25px; text-align: center;">
        酷爱编程
    </p>
    <p style="font-size: 15px; text-align: center;">
        目前使用的主要语言是<a class="origin">Objective-C</a>和<a class="origin">Swift</a>
    </p>
    <p style="font-size: 15px; text-align: center;">
        熟练开发各类iOS平台APP
    </p>
    <p style="font-size: 15px; text-align: center;">
        正在学习<a class="origin">HTML</a>、<a class="origin">JavaScript</a>、<a class="origin">C#</a>和<a class="origin">XMAL</a>
    </p>
    <p style="font-size: 20px; text-align: center;">
        编程的魅力总是让我欲罢不能
    </p>
    <p style="font-size: 20px; text-align: center;">
        生活在魅力江城——<a style="font-size: 25; text-decoration: blink;">武汉</a>
    </p>
    <p style="font-size: 20px; text-align: center;">
        喜爱运动
    </p>
    <p style="font-size: 20px; text-align: center;">
        周末聚会
    </p>
    <p style="font-size: 15px; text-align: center;">
        或是
    </p>
    <p style="font-size: 20px; text-align: center;">
        看一部电影
    </p>
    <p style="font-size: 15px; text-align: center;">
        都是不错的选择
    </p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
