---
title: 个人简历
layout: default
description: iOS开发工程师-薛焱
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<h3>个人信息</h3>
      <table border="1">
<tr>
  <th rowspan=3 width="130"><img src="https://github.com/fish-yan/fish-yan.github.io/blob/master/img/myself.jpg?raw=true"/></td>
  <td width="100">薛焱</td>
  <td colspan=3>男</td>
</tr>   
<tr>
  <td>目前公司：</td>
  <td colspan=3>重庆车杰盟科技有限公司 </td>
</tr>
<tr>
  <td>目前职位：</td>
  <td>iOS开发工程师</td>
  <td>工作年限：</td>
  <td>3年</td>
</tr>
</table>

<h3>基本资料</h3>

<h3>职业意向</h3>

<h3>工作经历</h3>

<h3>教育经历</h3>

<h3>教育经历</h3>

<h3>自我评价</h3>

<h3>附加信息</h3>

		</div>
	</div>
</div>
