---
title: 个人简历
layout: default
description: iOS开发工程师-薛焱
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<h3>个人信息</h3>

<table border="1" bgcolor="#F9F9F9">
<tr>
  <th rowspan=3 width="130"><img src="https://github.com/fish-yan/fish-yan.github.io/blob/master/img/myself.jpg?raw=true"/></td>
  <th width="100">薛焱</td>
  <td colspan=3>男</td>
</tr>   
<tr>
  <th>目前公司：</td>
  <td colspan=3>重庆车杰盟科技有限公司 </td>
</tr>
<tr>
  <th>目前职位：</td>
  <td>iOS开发工程师</td>
  <th width="100">工作年限：</td>
  <td>3年</td>
</tr>
</table>

<h3>基本资料</h3>

<table border="1">
<tr>
  <th width="100">年龄：</td>
  <td >26岁</td>
  <th width="100">邮箱：</td>
  <td ><a onmouseover="mOver(this)" onmouseout="mOut(this)" href="mailto:xueyan_2011@163.com" style="color:#4271AE">xueyan_2011@163.com</a></td>
</tr>   
<tr>
  <th>手机：</td>
  <td >13627275116</td>
  <th>所在地点：</td>
  <td>武汉市-硚口区</td>
</tr>
</table>

<h3>职业意向</h3>
<table>
<tr>
  <th width="100">期望职位：</td>
  <td>iOS开发工程师</td>
</tr>   
</table>

<h3>工作经历</h3>
 <table>
   <tr>
     <td width="2" bgcolor="#FD9827"></td>
     <td colspan="2" width="150">2015.08-至今</td>
     <td>重庆车杰盟科技有限公司</td>
   </tr>
 <tr>
     <td width="10"></td>
     <td></td>
     <td>公司描述：</td>
     <td>2011年6月30日，由全国18家一线代理商、服务商联合组建“中国汽车服务连锁运营杰出联盟”和“中国汽车服务网络连锁杰出联盟”，简称“车杰盟”</td>
   </tr>
 </table>

<h3>教育经历</h3>

<h3>教育经历</h3>

<h3>自我评价</h3>

<h3>附加信息</h3>

		</div>
	</div>
</div>


<script>
function mover(obj)
{
obj.style.color="#6C92B7"
}

function mOut(obj)
{
obj.style.color="#4271AE"
}
</script>
