---
title: 个人简历
layout: default
description: iOS开发工程师-薛焱
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<h3>个人信息</h3>

<table border="1" bgcolor="#F9F9F9">
<tr>
  <th rowspan=3 width="130"><img src="https://github.com/fish-yan/fish-yan.github.io/blob/master/img/myself.jpg?raw=true"/></td>
  <th width="100">薛焱</th>
  <td colspan=3>男</td>
</tr>   
<tr>
  <th>目前公司：</th>
  <td colspan=3>重庆车杰盟科技有限公司 </td>
</tr>
<tr>
  <th>目前职位：</th>
  <td>iOS开发工程师</td>
  <th width="100">工作年限：</th>
  <td>3年</td>
</tr>
</table>

<h3>基本资料</h3>

<table border="1">
<tr>
  <th width="100">年龄：</th>
  <td >26岁</td>
  <th width="100">邮箱：</th>
  <td ><a onmouseover="mOver(this)" onmouseout="mOut(this)" href="mailto:xueyan_2011@163.com" style="color:#4271AE">xueyan_2011@163.com</a></td>
</tr>   
<tr>
  <th>手机：</th>
  <td><a href="tel:13627275116">13627275116</a></td>
  <th>所在地点：</th>
  <td>武汉市-硚口区</td>
</tr>
</table>

<h3>职业意向</h3>
<table>
<tr>
  <th width="100">期望职位：</td>
  <td>iOS开发工程师</td>
</tr>   
</table>

<h3>工作经历</h3>
 <table>
   <tr bgcolor="#EEEEEE">
     <td><canvas style="background:#FD9827" width="5" height="20"></td>
     <td colspan="2" width="250">2015.08-至今</td>
     <td>重庆车杰盟科技有限公司</td>
   </tr>
   <tr>
     <td colspan="2" rowspan="4" width="10"></td>
     <td>公司描述：</td>
     <td>2011年6月30日，由全国18家一线代理商、服务商联合组建“中国汽车服务连锁运营杰出联盟”和“中国汽车服务网络连锁杰出联盟”，简称“车杰盟”</td>
   </tr>
   <tr>
     <td>工作地点：</td>
     <td>武汉</td>
   </tr>
   <tr bgcolor="#EEEEEE">
     <th>iOS开发工程师</th>
     <td align="right">2015.08-至今</td>
   </tr>
   
   <tr>
     <td>职责业绩：</td>
     <td>1.车赢家导购研发，版本升级迭代（已发21个版本）。<br>
2.超级车赢家（公司大型平台级APP）研发，版本升级迭代（已发9个版本）。<br>
3.车杰盟移动互联研发（公司内部OA）。<br>
4.车杰盟荟购买家版开发（团队项目）（已发10个版本）。<br>
5.进行项目需求分析，业务流程规划，参与项目原型设计，产品研发，撰写技术文档。</td>
   </tr>
   <tr bgcolor="#EEEEEE">
     <td><canvas style="background:#FD9827" width="5" height="20"></td>
     <td colspan="2" width="250">2014.10-2015.05 </td>
     <td>郑州果悦科技公司</td>
   </tr>
   <tr>
     <td colspan="2" rowspan="4" width="10"></td>
     <td>工作地点：</td>
     <td>郑州</td>
   </tr>
   <tr bgcolor="#EEEEEE">
     <th>iOS开发工程师</th>
     <td align="right">2014.10-2015.05</td>
   </tr>
   <tr>
     <td>职责业绩：</td>
     <td>1、负责iOS平台项目的开发，<br>
2、参与项目需求分析，撰写可行性报告，<br>
3、根据公司要求，撰写技术文档，<br>
4、负责bug调试，修复，疑难问题的解决。<br>
5、负责版本构建，产品上线，<br>
6、开发项目包含音乐，视频，旅游类型用<br>
上线项目：多彩音乐、LOVE游Pro。</td>
   </tr>
 </table>

<h3>教育经历</h3>
<table>
  <tr>
    <td>河南工业大学（ 2011.09 - 2015.06 ）</td>
    <td>本科</td>
  </tr>
</table>

<h3>项目经历</h3>
<table>
  <tr bgcolor="#EEEEEE">
    <th colspan="2">超级车赢家（公司平台级APP）</th>
    <td width="150" align="right">2016.03-至今</td>
  </tr>
  <tr>
    <td>项目职务：</td>
    <td colspan="2">iOS开发工程师</td>
  </tr>
  <tr>
    <td>项目描述：</td>
    <td colspan="2">超级车赢家是车杰盟研发的，针对门店内部管理运营的系统。<br>
超级车赢家采用模块化设计，各功能灵活配置，终端门店可以根据自身具体情况，匹配相应的店面管理运营解决方案；</td>
  </tr>
  <tr>
    <td>项目职责：</td>
    <td colspan="2">1.初期参与项目规划，及可行性研究，需求分析，参与撰写希求文档，原型设计。<br>
2.负责项目开发和发布，版本升级迭代与维护。<br>
3.参与超级车赢家业务流程规划和客户需求分析。<br>
4.超级车赢家涉及技术点：<br>
（1）js与原生交互（用于开发图表）。<br>
（2）牌照识别，早期使用内置识别库进行识别，目前搭建后台服务器识别。<br>
（3）蓝牙打印小票功能。<br>
（4）使用环信集成即时通讯功能。<br>
（5）集成百度地图，实现APP定位签到功能。<br>
（6）自定义转场。</td>
  </tr>

  <tr bgcolor="#EEEEEE">
    <th colspan="2">车赢家导购</th>
    <td align="right">2015.06-至今</td>
  </tr>
  <tr>
    <td width="100">项目职务：</td>
    <td colspan="2">iOS开发工程师</td>
  </tr>
  <tr>
    <td>项目描述：</td>
    <td colspan="2">车赢家导购是车杰盟早期研发的免费提供门店使用的移动端汽车服务平台。
目前只做较小的功能更新。</td>
  </tr>
  <tr>
    <td>项目职责：</td>
    <td colspan="2">1.参与项目开发和发布。 <br>
2.新功能开发，版本升级迭代与维护。 <br>
3.参与车赢家导购业务流程规划和客户需求分析。 <br>
4.车赢家导购涉及技术点：<br>
（1）作为工具类APP，最主要的是业务逻辑的处理 <br>
（2）牌照识别，早期使用内置识别库进行识别，目前采用后台服务器识别。<br> 
（3）蓝牙打印小票功能。
  </tr>

  <tr bgcolor="#EEEEEE">
    <th colspan="2">荟购买家版 </th>
  </th>
    <td align="right">2016.06-至今</td>
  </tr>
  <tr>
    <td width="100">项目职务：</td>
    <td colspan="2">iOS开发工程师</td>
  </tr>
  <tr>
    <td>项目描述：</td>
    <td colspan="2">车杰盟荟购采购平台是为汽车后服务市场定制开发的平台系统。依托于地域现有的品牌和渠道，遵循传统商业本质，同时融合了互联网传播优势。</td>
  </tr>
  <tr>
    <td>项目职责：</td>
    <td colspan="2">1.参与项目开发和发布。 <br>
2.参与荟购的需求分析，业务流程规划 <br> 
3.荟购涉及技术点：<br>
（1）购物车的设计与实现<br>
（2）用环信集成IM通讯功能<br>
（3）支付宝支付功能。
  </tr>
</table>
<br>
<hr/>
<h3>自我评价</h3>
1、本人性格开朗，善于沟通交流，对编程方面的知识抱有极大的兴趣和学习热情，喜欢和同行交流与分享技术； <br>
2、对iOS开发有浓厚的兴趣，喜欢浏览CocoaChina，CSDN，code4App，开源中国，博客园，Swift中国，swiftgg等技术网站，来提升自己的技术水平； <br>
3、有多个上线项目的经验，有较强的问题分析和bug调试的能力； <br>
4、具有较强的抗压能力和学习能力，对待工作认真负责，能够及时的完成公司交给的任务。<br>
5、<a onmouseover="mOver(this)" onmouseout="mOut(this)" href="{{ site.baseurl }}/" style="color:#4271AE">个人网站：http://fishyan.me</a><br>

<hr/>
<h3>个人技能</h3>
1、计算机语言：C、Objective-C、Swift等，可熟练运用Objective-C、Swift进行iOS编程；了解C#，XMAL，HTML，JavaScript <br>
2、熟悉iOS平台的内存管理机制，熟悉内存优化；<br>
3、具有良好的面向对象编程思想，熟练运用多态、继承、封装，提高内聚，降低耦合，提高代码质量；<br>
4、熟练运用MVC、MVVM等设计思想来搭建框架，善于使用模块化设计，使结构层次清晰易于维护；<br>
5、熟练运用Storyboard搭建应用界面，能熟练的解决约束冲突，屏幕适配的问题；<br>
6、熟练运用CocoaPods第三方类库管理工具来导入第三方，项目中使用过大部分常用第三方，具备快速上手第三方SDK使用的能力<br>
7、熟练运用NSThread、GCD、NSOperationQueue多线程技术进行编程以提高内存利用率和程序流畅度；<br>
8、熟练App开发到上架的整个流程，熟悉程序上传的步骤，以及版本的升级迭代；<br>
9、熟练运用SVN进行团队开发，解决冲突。熟练运用git命令，个人项目是用git仓库管理项目，熟练使用git终端命令，SourceTree，GithubDesktop。 <br>
		</div>
	</div>
</div>


<script>
function mover(obj)
{
obj.style.color="#6C92B7"
}

function mOut(obj)
{
obj.style.color="#4271AE"
}
</script>
